<footer id="footer" data-nosnippet>
    <ul class="icons">
        <li><a href="https://github.com/w1ne/labwired-core" class="icon brands alt fa-github"><span
                    class="label">GitHub</span></a></li>
        <li><a href="mailto:andrii@shylenko.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a>
        </li>
    </ul>
    <ul class="copyright">
        <li>&copy; LabWired Inc. All rights reserved.</li>
        <li><a href="https://labwired.com">LabWired.com</a></li>
        <li><a href="https://docs.labwired.com">Technical Docs</a></li>
    </ul>
</footer>