<header id="header">
    <h1 id="logo"><a href="{{ROOT}}index.html"><i class="fa-solid fa-microchip"></i> LABWIRED</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ROOT}}index.html#four">Features</a></li>
            <li><a href="{{ROOT}}index.html#resources">Resources</a></li>
            <li><a href="{{ROOT}}docs.html">Docs</a></li>
            <li><a href="#footer">Contact</a></li>
        </ul>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><i class="fa-solid fa-bars"></i></a>
</header>